.slideshow {
  position: relative;
  max-width: 600px;
  margin: auto;
}

.slide {
  display: none; /* Hide all slides by default */
  width: 100%;
}

.slide.active {
  display: block; /* Only the active slide is visible */
}

.controls {
  text-align: center;
  margin-top: 10px;
}

button {
  font-size: 18px;
  padding: 6px 12px;
  cursor: pointer;
}

body {
  background-color: #353434; /* Sets the background for the entire page */
}
